@import "css3-mixins-lib";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "./font-awesome/font-awesome.scss";
//variables
$font-opensans: 'Open Sans', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-small: 18px;
$font-normal:24px;
$font-medium: 32px;
$font-large:36px;
$default-opacity: 0.8;
$default-transition-time: 0.6s;
//colors
$pale-grey: #F2F2F2;
$light-grey: #BDBDBD;
$dark-grey: #4F4F4F;
$accent-green: #33D399;


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: $font-small;
}
body {
    font-family: $font-lato;
}

header {
    margin-bottom: 6.7em;
    margin-top:80px;
}

h1 {
    width:100%;
    font-size: $font-large;
}

h2{
    font-size: $font-medium;
}

.landing-section{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 6.7em;
}

.section-title{
    margin-bottom: 2.5em;
    display: block;
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
    & :visited{
        color: $light-grey;
    }
}

//custom elements
#logo{
    width: 200px;

}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}


#site-title::after {
    content: " ";
    border: solid #E0E0E0 1px;
    display: block;
    margin: 2em 0;
    width: 35%; 
}

#main-nav{
    text-align: right;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline;
            margin: 0 2em 0 0;  
             
            a{
                color: $light-grey;    
                text-decoration: none; 
                border-bottom: solid 1px #fff;
                transition: all $default-transition-time;
                &.current{
                    color: $accent-green;  
                }

                &:hover{
                    border-bottom: solid 1px $accent-green;
                }  
            }
            
        }
        li:last-child{
            margin: 0;
        }
    }
}

.more-button {
    color: $accent-green;
    opacity: $default-opacity; 
    margin-top: 2.3em; 
    &:after{
        width: 0%;
        content: " ";
        border: solid 1px #fff;
        display: block;
        margin-top: 2px; 
        opacity: 1;
        margin:0 auto;
        transition: all $default-transition-time ease-in-out;
    }
    &:hover:after {
        border-color: #33D399;
        width: 100%;   
        
    }

    // &:hover{
    //     opacity: 1;
    //     transition: opacity $default-transition-time ease-in;
    // }


}

.intro{
    color: $light-grey;
    width: 50%;
}

.card.project-card{
    width:100%;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }


    .after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // display: none;
        color: #FFF;
        opacity: 0;
       transition: opacity 0.5s ease-out, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &:hover .after{
         opacity: 1;
    }

      .project-card-title{
            position: absolute;
            bottom: 1em;
            left: 1em;
            color: #000;
            font-size: 2em;
            
        }

 

}



.blog-post-card{
    
    .blog-post-card-header{
       width: 100%;

       img{
           width: 100%;
       }
    }

    .blog-post-card-content{
        padding: 1.1em;
        .blog-post-metadata{
            margin-bottom: 1.1em;
            .blog-post-category{
                float:left;
                
            }

            .blog-post-date{
                float:right;
                color: $light-grey;
            }

            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }

        .blog-post-title{
            color: $accent-green;
            margin-bottom: 1.1em;
            opacity: $default-opacity;
            
            &:hover{
                opacity: 1;
                transition: opacity $default-transition-time;
            }
        }

        .blog-post-preview{
            margin-bottom: 1.1em;
            color: $light-grey;
        }

        .blog-post-card-header{
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;

           
        }
        
        .blog-post-body{
            color: $light-grey;
            text-align: justify;
            p{
                margin-top: 1.1em;
            }
        }

        &.blog-post {
            padding: 0;
            margin-top: 1.1em;
        }
        
    }

}

 .blog-post-banner {
    height: 20em;
    background-size: cover;
}

footer{
    height: 100%;
    padding: 4.4em 0;
    background-color: $pale-grey;

    
}


.social-links {
    text-align: right;
    color: #bdbdbd;

    a{
       color: #bdbdbd;
       margin-left: 1.1em;
       &:hover{
        color:$accent-green;

       }
    }

}

//grid and containers

[class*='col'] {
  padding-right: 20px;
  padding-bottom: 40px;
}

[class*='col']:last-of-type {
    padding-right: 0; 
    padding-left: 20px;
}

// [class*='col-full']:last-of-type {
//   padding-right: 0;
//   padding-bottom: 0;
// }

// [class*='col-'] {
//   float: left;
// }

.container{
    padding: 0;
    margin: 0px 80px  80px 80px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;

}

.col{
    width: 50%;
}

.col-full{
    width: 100%;
}





@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {}


@media screen and (max-width:960px) {
    [class*='col'] {
        width: 100%;
        padding-right: 0;
        padding-bottom: 40px;
    }

    [class*='col']:last-of-type {
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}

    #main-nav{
        text-align: center;
    }
    
    #logo-wrapper{
        text-align: center;
    }

    .container {
        justify-content: center;
    }
}

@media screen and (max-width:768px){
    .container{
        margin:20px;
    }
}