@import "css3-mixins-lib";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//variables
$font-opensans: 'Open Sans', sans-serif;
$font-small: 18px;
$font-normal:24px;
$font-medium: 32px;
$font-large:36px;
$default-opacity: 0.8;
//colors
$light-grey: #BDBDBD;
$dark-grey: #4F4F4F;
$accent-green: #33D399;


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: $font-small;
}
body {
    font-family: $font-opensans;
}

header {
    
}

h1 {
    width:100%;
    font-size: $font-large;
}

h2{
    font-size: $font-medium;
}

.landing-section{
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    margin-top: 6.7em;
}

.section-title{
    margin-bottom: 2.5em;
    display: block;
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
    & :visited{
        color: $light-grey;
    }
}

//custom elements
#logo{
    width: 80px;
    height: 80px;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}


#site-title::after {
    content: " ";
    border: solid #E0E0E0 1px;
    display: block;
    margin: 2em 0;
    width: 35%; 
}

#main-nav{
    text-align: right;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline;
            margin: 0 2em 0 0;  
             
            a{
                color: $light-grey;    
                text-decoration: none; 
                &.current{
                    color: $accent-green;  
                }  
            }
            
        }
        li:last-child{
            margin: 0;
        }
    }
}

.more-button {
    color: $accent-green;
    opacity: $default-opacity; 
    margin-top: 2.3em; 
    &:after {
        content: " ";
        border: solid 1px black;
        display: block;
        margin-top: 2px; 
        opacity: $default-opacity;   
    }

    &:hover{
        opacity: 1;
    }
}

.intro{
    color: $light-grey;
    width: 50%;
}

.card.project-card{
    height: 28em;
}



.blog-post-card{
    
    .blog-post-card-header{
        height: 28em;
    }

    .blog-post-card-content{
        padding: 1.1em;
        .blog-post-metadata{
            margin-bottom: 1.1em;
            .blog-post-category{
                float:left;
                
            }

            .blog-post-date{
                float:right;
                color: $light-grey;
            }

            &:after{
                content: "";
                display: table;
                clear: both;
            }
        }

        .blog-post-title{
            color: $accent-green;
            margin-bottom: 1.1em;
        }

        .blog-post-preview{
            margin-bottom: 1.1em;
            color: $light-grey;
        }

        .blog-post-card-header{
            background-repeat:no-repeat;
            background-size:contain;
            background-position:center;
            

        }

        
    }

}

//grid and containers

[class*='col'] {
  padding-right: 40px;
  padding-bottom: 40px;
}

[class*='col']:last-of-type {
   padding-right: 0;
  padding-bottom: 0;
}

// [class*='col-full']:last-of-type {
//   padding-right: 0;
//   padding-bottom: 0;
// }

// [class*='col-'] {
//   float: left;
// }

.container{
    padding: 0;
    margin: 80px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
	max-width: 70%;

}

.col{
    width: 50%;
}

.col-full{
    width: 100%;
}





@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {}


@media screen and (max-width:960px) {
    [class*='col'] {
        width: 100%;
        padding-right: 0;
        padding-bottom: 40px;
    }

    #main-nav{
        text-align: center;
    }
    
    #logo-wrapper{
        text-align: center;
    }

    .container {
        justify-content: center;
    }
}

@media screen and (max-width:768px){
    .container{
        margin:20px;
    }
}