@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Am Ricardo</title>
    <link rel="stylesheet" href="/Css/main.css">
</head>


<body>
    <header>
        <div class="container nav-wrapper">
            <div class="col">
                <div id="logo-wrapper">
                    <a href="index.html"><img id="logo" src="/public/images/logo-ricardo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col">
                <nav id="main-nav">
                    <ul class="">
                        <li><a class="current" href="#">Projects</a></li>
                        <li><a href="blog-listing-page.html">Blog</a></li>
                        <li><a href="mailto:rj.abreu@outlook.com">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
<div class="container">
    
    @RenderBody()


</div>

    <footer>
        <div class="container">
            <div class="col">
                <p>© 20016 IAmRicardo</p>

            </div>
            <div class="col">
                <div class="social-links">
                    <a href="https://www.instagram.com/iamricardo_o/" title="Instagram" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/rjabreu" title="LinkedIn" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                    <a href="https://github.com/rjabreu" title="GitHub" target="_blank"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/iamricardo_o" title="Twitter" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/Scripts/bundle.js"></script>
</body>
</html>