@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    IPublishedContent SettingsNode = Umbraco.TypedContentAtRoot().DescendantsOrSelf("settings").FirstOrDefault();

    IPublishedContent logo = SettingsNode.GetPropertyValue<IEnumerable<IPublishedContent>>("logo").FirstOrDefault();

}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@SettingsNode.GetPropertyValue("siteTitle")</title>
    <link rel="stylesheet" href="/Css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
 </head>


<body>
    <header>
        <div class="container nav-wrapper">
           
                <div id="logo-wrapper">
                    <a href="/">
                        @if (logo != null)
                        {
                            
                            <img id="logo" src="@logo.GetCropUrl()" alt="logo">
                        }
                    </a>
                </div>
       
            
                @Html.Partial("TopNav", Model.Content)
               
          
        </div>
    </header>
<div class="container">
    
    @RenderBody()


</div>

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="copyrights">
                    <p>© 20016 CodeNakama</p>
                </div>
                <ul class="social-links">
                    <li>
                        <a href="https://www.instagram.com/iamricardo_o/" title="Instagram" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rjabreu" title="LinkedIn" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/rjabreu" title="GitHub" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/iamricardo_o" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="/Scripts/bundle.js"></script>
</body>
</html>